.App {
  text-align: left;
}
.icon{
  height: 30px;
  cursor: pointer;
}

.App-header {
  background-color: orangered;
  height: 50px;
  padding: 20px;
  color: white;
}


.main-body{
  display: -webkit-flex;
  display: flex;
  min-height: 80vh;
  height: auto;
}
.rc-calendar{
  text-align: center;
  display: inline-block; 
}

  .fridge{
    width: 200px;
    box-shadow: 0px 0px 3px;
    height: auto;
  }
    .fridge-block-container{
      box-shadow: 0px 0px 0px;
      border-radius: 6px;
      margin: 5px;
      cursor: pointer;
      z-index: 1;
      position:relative
    }
    .fridge-block-container:hover{
      border-radius: 6px;
      box-shadow: 1px 1px 6px;
    }
    .deletemode{
      border: 2px red solid;
    }
    .fridge-block-name{
      margin: 2px;
      font-size: 20px;
    }
    .fridge-block-day{
      margin: 2px;
      color: gray;
      z-index: 100;
      position:relative;
      width: 30%; 
    }
    .fridge-block-day:hover{
      color: black;
      border: 0.5px solid gray;
      border-radius: 5px;
    }
  .recipe{
    -webkit-flex: 1;
    flex: 1;
    box-shadow: 0px 0px 3px;
    text-align: center;
  }
    .recipe-block-container{
      display: inline-block;
      width: 300px;
      height: auto;
      margin: 5px;
      border: 2px solid orangered;
      border-radius: 5px;
    }
      .recipe-block-title{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orangered;
        color:white;
        height: 40px;
        vertical-align: middle;
      }
      .recipe-block-img{
        cursor: pointer;
      }
    
